In [340]:
# 기존의 dataframe 내에서 삭제 수정 등 진행해보기 
import pandas  as pd

In [341]:
co1 = list(range(1,20,2))
co2 = list(range(2,21,2))
co3= list(range(10,110,10))
df = pd.DataFrame(    
   data=[co1,    co2,     co3],
    index=['row1','row2','row3'],
    columns=['co1','co2','co3','co4','co5','co6','co7','co8','co9','co10']
)

##row2를 삭제

df.drop('row2')
#어떤걸 리턴하냐? 원본이 아닌 삭제결과물을 return
df = df.drop('row2')

In [342]:
df

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100

In [343]:
#특정 컬럼 골라서 삭제 
#co1 삭제하기 원본적용 2-1 

df=df.drop(labels='co1',axis=1)
df=df.drop(labels=['co7','co5'],axis=1)
print(df)

      co2  co3  co4  co6  co8  co9  co10
row1    3    5    7   11   15   17    19
row3   20   30   40   60   80   90   100

In [344]:
#컬럼추가는 어떻게 
df['co11'] = [100,200]
print(df)

      co2  co3  co4  co6  co8  co9  co10  co11
row1    3    5    7   11   15   17    19   100
row3   20   30   40   60   80   90   100   200

In [345]:
#df2['row2']=[2,4,6,8,10,12,14,16]
##df 이름으로 접근할때 최초로마주하는 건 열이에요! 
## 행추가는 조금 다르게 접근을 해야해요 . 
df.loc['row2']=[2,4,6,8,10,12,14,500]

# iloc 활용 추가 ??? 는 없다. 
#df.iloc[3]=[2,4,6,8,10,12,14,16,18,20] #  안되네요. 
#iloc 에는 애초에 존재하지 않는 인덱스이기에 할당조차 할수가 없는거에요 . 
#그래서 에러남!

In [346]:
# 특정 컬럼또는 행의위치  ##

##  1-1 컬럼 col11위치

In [347]:
#정렬시켜주기 - 컬럼값기준으로 오름차순 정렬하기
 
df.sort_values('co2')

      co2  co3  co4  co6  co8  co9  co10  co11
row2    2    4    6    8   10   12    14   500
row1    3    5    7   11   15   17    19   100
row3   20   30   40   60   80   90   100   200

In [348]:
# 2-2 정렬 , 컬럼값기준 - 내림차순 원본적용해버리기 ( inplace)

df.sort_values('co2',ascending=False,inplace=True)
print(df)

      co2  co3  co4  co6  co8  co9  co10  co11
row3   20   30   40   60   80   90   100   200
row1    3    5    7   11   15   17    19   100
row2    2    4    6    8   10   12    14   500

In [349]:
#2-3 인덱스기준으로 오름차순 정렬해버리기;

In [350]:
# 3 컬럼명 변경하기
df.rename(columns={'co2': 'column2!'}, inplace=True)
df

      column2!  co3  co4  co6  co8  co9  co10  co11
row3        20   30   40   60   80   90   100   200
row1         3    5    7   11   15   17    19   100
row2         2    4    6    8   10   12    14   500

In [351]:
# 컬럼전체를 0 ~ 7 까지 규칙적으로 뿌려주고 싶어요. 어떻게? 
#원하는 이름의문자열 컬럼명으로 변경 해보자 . 
# 위방식으로하면 써야할게 너무 많겠지. 
# 
#df.columns # 이것은 사실은 property 이다. 
# 파이썬은 모든데이터를 객체로 관리하고있다는것을 다시 기억해봅시다. 그러면 재할당을 해버리면 된다는것이죠 . 
# df.columns = ?? 
df.columns =[0,1,2,3,4,5,6,7]
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')