In [1]:
import pandas as pd

In [2]:
#pd.DataFrame() # 첫글자 대문자는 클래스 생성한거라고 보세요 . 
# __init__ 이 반다내서, 인스턴스 하나가 메모리로 올라오겠죠? 
#주의 DataFrame 은 여러개가 입력될거니까  소괄호 엔터를 해줍니다. 
# 이 1,2,3 으로 표를 만들되, 저장은 못하지요. 
# df 라는 변수에 일단 할당을해줍시다. 
df =  pd.DataFrame(
    [1,2,3]
)

In [3]:
print(df)

   0
0  1
1  2
2  3

In [4]:
#컬럼 1개  로우3개  인덱스 

df = pd.DataFrame(
    
    [1,2,3],    
    [123,'b','c']
)

In [5]:
df

     0
123  1
b    2
c    3

In [6]:
# 컬럼은 하나 , 로우는 3개, 행의 인덱스도 있고 , 열도 인덱스가 있게 하련다.

In [7]:
df = pd.DataFrame(
    
    [1,2,3],    
    [123,'b','c'],
    ['one']
)
df

     one
123    1
b      2
c      3

In [8]:
# 뭐가 뭐에 꽃일 값이라고 우리가 명시를 해줄수가 있습니다. 
# 코드 작성시 일반적인 규칙으로는 파라미터에서만큼은 띄어쓰기 없이 해주도록합니다.
# 이 인수가 어느파라미터에 꽃힐 내용이니까. 
# 직관성을 높여주기위해. 실무에서 이렇게 하도록합니다. 
df = pd.DataFrame(
    
    data=[1,2,3],    
    index=[123,'b','c'],
    columns=['one']
)
df

     one
123    1
b      2
c      3

In [9]:
# 리스트안에 리스트라고 하면? 넘파이에어슨ㄴ 이차원 배열이라고 칭하지만 
#우린 아니에요. 
# 복제합시다. esc > 
df = pd.DataFrame(    
    data=[[1,2,3],[4,5,6]],    

)
df

   0  1  2
0  1  2  3
1  4  5  6

In [10]:
# 리스트안에 리스트라고 하면? 넘파이에어슨ㄴ 이차원 배열이라고 칭하지만 
#우린 아니에요. 
# 복제합시다. esc > cv 
# 컬럼3개, 로우2개 
df = pd.DataFrame(    
    data=[[1,2,3],[4,5,6]],    
    index=['row1','row2'],
    columns=['col1','co2','co3']

)
df
# 2q번째 매개변수는 행의인덱스에요 . 이게 2개가 와야겠죠? 
# 행마다 지정을... 잘 안해요 . 실전에서는 
# 열도 3개 맞춰야겠죠. 갯수 잘 맞춰야지 에러 안나옵니다.

      col1  co2  co3
row1     1    2    3
row2     4    5    6

In [11]:
# 중괄호를 써버리면 어떨까 
co1 = list(range(1,20,2))
co2 = list(range(2,21,2))
co3= list(range(10,110,10))
print(co1)
print(co2)
print(co3)
# data 안에 배열요소는 각각이 하나의 행이된다! 
df = pd.DataFrame(    
   data=[co1,    co2,     co3],
    #data=[co1,    co2,     co3],
    index=['row1','row2','row3'],
    columns=['co1','co2','co3','co4','co5','co6','co7','co8','co9','co10']
)
df

## 2가지방식 
#data 가  딕셔너리인거>
# data 가  list 인경우? 

#결론 
## 컬럼은  key 구나  . 아래 뿌려지는것은 "값 이구나"

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20
row3   10   20   30   40   50   60   70   80   90   100

In [12]:
#데이터프레임 행과 열의 정보
print('행,열 정보>> ', df.shape)
print('타입 >> ',type( df ) )
print('타입 >> ',type( df.shape ) )
print(f'{df.shape[0]} 행 {df.shape[1]}열 입니다')
#명칭은 columns 이지만 내부적으로는 Index 개체이다. 
print(df.columns) 
print(f'컬럼타입 > {type(df.columns)}')
print(f'컬럼타입 > {type(df.columns)}')
print(f'첫컬럼명 > {df.columns[0]}')
print(f'막컬럼명 > {df.columns[-1]}')
print(df.index)

행,열 정보>>  (3, 10)
타입 >>  <class 'pandas.core.frame.DataFrame'>
타입 >>  <class 'tuple'>
3 행 10열 입니다
Index(['co1', 'co2', 'co3', 'co4', 'co5', 'co6', 'co7', 'co8', 'co9', 'co10'], dtype='object')
컬럼타입 > <class 'pandas.core.indexes.base.Index'>
컬럼타입 > <class 'pandas.core.indexes.base.Index'>
첫컬럼명 > co1
막컬럼명 > co10
Index(['row1', 'row2', 'row3'], dtype='object')

In [13]:
#로우정보 ( INDEX ) 
# 로 데이터 VS 로우 . 
print(f'행타입 > {type(df.index)}')
print(f'행타입 > {type(df.index)}')
print(f'첫행명 > {df.index[0]}')
print(f'막행명 > {df.index[-1]}')
#이거 말고도 또다른 행 정보 접근 방법은????

행타입 > <class 'pandas.core.indexes.base.Index'>
행타입 > <class 'pandas.core.indexes.base.Index'>
첫행명 > row1
막행명 > row3

In [14]:
# SHAPE 가 있다 
# 실제 작업에는 데이터가 수백만~수억 - 메모리 차지 맘ㄶ으면
#훈련 시킬때 너무 오래걸려. 
# 데이터 손실을 막기위해서 맵핑을 잘해주어야한다.??? 뭐랑뭐랑?? 
print('데이터값 타입>>',df.dtypes)

데이터값 타입>> co1     int64
co2     int64
co3     int64
co4     int64
co5     int64
co6     int64
co7     int64
co8     int64
co9     int64
co10    int64
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, row1 to row3
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   co1     3 non-null      int64
 1   co2     3 non-null      int64
 2   co3     3 non-null      int64
 3   co4     3 non-null      int64
 4   co5     3 non-null      int64
 5   co6     3 non-null      int64
 6   co7     3 non-null      int64
 7   co8     3 non-null      int64
 8   co9     3 non-null      int64
 9   co10    3 non-null      int64
dtypes: int64(10)
memory usage: 264.0+ bytes

In [16]:
#첫번째 컬럼?? 
##df 의 특정컬럼명. 
co= df['co1']
print('자료형 >>', type(co1)) # <class 'pandas.core.series.Series'>
print(f'자료형 >>\n{co1}')
# 하나의 컬럼 ~ 에서 쭉 떨어지는 내용이 
# 곧  시리즈이다.
# 결론
#데이터프레임은 하나이상의 시리즈가 모여서 동작
# 행기준으로도  시리즈 단위이다. 
# 세로층이든 , 가로층이든 하나의 한겹의 레이어는 곧 Series 이다.

자료형 >> <class 'list'>
자료형 >>
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
co['row2']

2

In [18]:
df['co1']['row3']
#열인덱스 먼저 잡고 그리고나서 로우값 찾아가거라.

10

In [19]:
#[문제] co1, co2 컬럼 추출 
print(df['co1'] )
print(df['co2'] )

row1     1
row2     2
row3    10
Name: co1, dtype: int64
row1     3
row2     4
row3    20
Name: co2, dtype: int64

In [20]:
print(df.__dir__())

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'co1', 'co10', 'co2', 'co3', 'co4', 'co5', 'co6', 'co7', 'co8', 'co9', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [22]:
df[['co1','co3','co5']].head(2)

      co1  co3  co5
row1    1    5    9
row2    2    6   10

In [28]:
df[0:2]#이러면 2줄만 나오지.

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20

In [ ]:
# loc ,  iloc  라는게 있어요 
'''
loc - location 
사람잉읽을수있는 label값으로 데이터접근
문법 데이터프레임.loc[행이름,열이름]


iloc integer location
데이터프레임의 행이나 열의 정수형태의 인덱스로 접근
문법 - 데이터프레임.iloc[행번호,열번호]

'''
######행 추출#####
## row1 추출

In [32]:
# co13  co3 추출하기 

#df.loc[ :, 'co3'] # 0 인덱스에서 목표지점까지 보여주기 
df.loc[ :, 'co1':'co6']

      co1  co2  co3  co4  co5  co6
row1    1    3    5    7    9   11
row2    2    4    6    8   10   12
row3   10   20   30   40   50   60

In [37]:
# iloc 가 있다. 행단위로 추출한다 
#df.iloc[ 1:2] # row2 만나옴. 
df.iloc[1:3]#row 2 ,3 나옴 
df.iloc[:2]# row 1,2 나옴

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row2    2    4    6    8   10   12   14   16   18    20

In [47]:
# row 1 row 3 띄엄으로 , 불연속적으로 있는 행은 어떻게 추출? 

# df.iloc[ '행인덱스']
df.iloc[[0,2]] #row 1 ,row 3 을 출력해줘. 
df.loc[['row1' ,'row3']]# 동일하다 
#df.iloc[[1]] # row 2 만 출력해줘,.

      co1  co2  co3  co4  co5  co6  co7  co8  co9  co10
row1    1    3    5    7    9   11   13   15   17    19
row3   10   20   30   40   50   60   70   80   90   100

In [54]:
##열 co 들을 추출 . by  iloc 
df.iloc[:, 2]##1차원적으로 추출  5 ,6 ,30   ( co3 )
df.iloc[:, 2:4]## 2차원적으로 추출  ( co3, co4 )

      co3  co4
row1    5    7
row2    6    8
row3   30   40

In [59]:
#2차원적으로  loc 가지고, 이름으로 추출하려면 끝값 포함해서 넣어주기 
df.loc[:, 'co1':'co5']

      co1  co2  co3  co4  co5
row1    1    3    5    7    9
row2    2    4    6    8   10
row3   10   20   30   40   50